<!DOCTYPE html>

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div>
            <h1>Sobre mim</h1>
            <p>Oi sou Maria Barbosa estudante de Ciência da Computação</p>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>

</body>
</html>