.container{
    display: flex;
    justify-content: center;
}
.box{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}
.blue{
    background-color: blue;
    
}
.red{
    background-color: red;
    
}
.green{
    background-color: green;
}

/*/////////////////////////////////////////////////////*/

body{
    margin: 0;
    height: 100vh;
    
    display: grid;
    grid-template-areas: "header headr" "main aside" "footer footer";
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 80px;
}

header{
    grid-area: header;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    grid-area: main;
    background-color: red;
}
aside{
    grid-area: aside;
    background-color: blue;
}
footer{
    grid-area: footer;
    background-color: gray;
}

p{
    font-family: Times 'Times New Roman', Times, serif serif;
    font-weight: normal;
    font-style: oblique;
    font-size: 1.2em;
    font-family: 'Chivo Mono', monospace;

    font-variant: small-caps;
    font-stretch: condensed;
    letter-spacing: 2px;
    word-spacing: 1em;
    line-height: 1.6;
    text-transform: uppercase;
    text-decoration: underline wavy yellow;
    text-align: justify;
    text-shadow: 1px 1px 0px red, 2px 2px 1px green;

    font: italic normal bold normal 1em/2 Helvetica, Arial, sans-serif;
}

